*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100vh;
}

@font-face {
    font-family: 'Quincy CF';
    src: url('../public/Quincy.woff2') format('opentype');
}

.Quincy {
    font-family: 'Quincy CF';
}

.container{
    width: 100%;
}

.shadow {
    border: 1px solid rgba(130, 9, 0, 1);
    background-color: rgb(255, 46, 46);
    border-radius: 123px;
    box-shadow: rgb(130, 0, 0) 0px -6px 2px 1px inset;
    opacity: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.shadow:active {
    background-color: #BA0000;
    box-shadow: rgb(130, 0, 0) 0px 8px 2px 1px inset;
}
.shadow:hover {
    animation: bounce-effect 0.6s infinite ease-in-out;
}
  

.buttonShadow{
    border: 1px solid rgb(166, 166, 166);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding-bottom: 14px;
    box-shadow: rgb(166, 166, 166) 0px -6px 2px 0px inset;
    opacity: 1;
}

.buttonShadow:active{
    border: 1px solid rgb(166, 166, 166);
    background-color: #d4d4d4;
    border-radius: 12px;
    padding-top: 14px;
    padding-bottom: 8px;
    box-shadow: rgb(166, 166, 166) 0px 9px 2px 0px inset;
    opacity: 1;
}

.project{
    cursor: pointer;
}

.project:hover{
    .icon1{
        opacity: 1;
        scale: 1;
        display: flex;
        /* animation: arowAnimation 1s timing-function 0s infinite direction fill-mode; */
    }
}
.project{
    .icon1{
        opacity: 0;
        scale: 0;
        display: none;
    }
}



@keyframes arowAnimation {
    0%{
        opacity: 0;
        scale: 0;
        display: none;
    }
    50%{
        opacity: .5;
        scale: .5;
        display: flex;
    }
    100%{
        opacity: 1;
        scale: 1;
        display: flex;
    }
}

.project1{
    transition: all;
    transition-duration: .4s;
    background: linear-gradient(rgb(245, 245, 245) 0%, rgb(245, 245, 245) 50%, rgb(245, 245, 245) 100%) rgb(246, 246, 246);
}

.project1:hover{
    opacity: 0.9;
    rotate: 1deg;
    will-change: transform;
    background: linear-gradient(rgb(222, 191, 255) 0%, rgb(235, 250, 255) 100%, rgba(0, 0, 0, 0));
}

.project2{
    background: linear-gradient(rgb(245, 245, 245) 0%, rgb(245, 245, 245) 50%, rgb(245, 245, 245) 100%) rgb(246, 246, 246);
    transition: all;
    transition-duration: .4s;
}

.project2:hover{
    opacity: 0.9;
    rotate: 1deg;
    will-change: transform;
    background: linear-gradient(rgb(255, 177, 205) 0%, rgb(255, 221, 209) 100%, rgba(0, 0, 0, 0));
}

.project3{
    background: linear-gradient(rgb(245, 245, 245) 0%, rgb(245, 245, 245) 50%, rgb(245, 245, 245) 100%) rgb(246, 246, 246);
    transition: all;
    transition-duration: .4s;
}

.project3:hover{
    background: linear-gradient(rgb(255, 199, 165) 0%, rgb(255, 243, 232) 100%, rgba(0, 0, 0, 0));
    opacity: 0.9;
    rotate: -1deg;
    will-change: transform;
}

.project4{
    background: linear-gradient(rgb(245, 245, 245) 0%, rgb(245, 245, 245) 50%, rgb(245, 245, 245) 100%) rgb(246, 246, 246);
    transition: all;
    transition-duration: .4s;
}

.project4:hover{
    opacity: 0.9;
    rotate: -1deg;
    will-change: transform;
    background: linear-gradient(rgb(255, 163, 167) 0%, rgb(255, 235, 245) 100%, rgba(0, 0, 0, 0));
}